
<head>

<title>Der Teppich International</title>

</head>

<body>

<%= render 'shared/navbar' %>

<div id="myCarousel" class="carousel slide HomeLarge" data-ride="carousel">
  
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active carouselimage">
      <%= image_tag "main.jpg", :style => "width: 100%" %>
      <div class="carousel-caption" style="text-align: left; margin-left: -150px;">
        <h1>Beautiful Rugs</h1>
      </div>
    </div>

    <div class="item carouselimage">
      <%= image_tag("handloomweave.png", :style => "width: 100%") %>
       <div class="carousel-caption" style="text-align: left; margin-left: -150px;">
        <h1>Handloom Weave</h1>
       </div>
    </div>

    <div class="item carouselimage">
      <%= image_tag("handknotted.png", :style => "width: 100%") %>
      <div class="carousel-caption" style="text-align: left; margin-left: -150px;">
        <h1>Hand Knotted</h1>
       </div>
    </div>

    <div class="item carouselimage">
      <%= image_tag("handtufted.png", :style => "width: 100%") %>  
      <div class="carousel-caption" style="text-align: left; margin-left: -150px;">
        <h1>Hand Tufted</h1>
       </div>  
    </div>
    
    <div class="item carouselimage">
      <%= image_tag("handloomdurries.png", :style => "width: 100%") %> 
       <div class="carousel-caption" style="text-align: left; margin-left: -150px;">
        <h1>Handloom Durries</h1>
       </div>  
    </div>

  </div>

  <!-- Left and right controls -->
  
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="PhotoArea HomeSmall">
     
     <figure class="DerImage">
     </figure>

     <div class="DerCaption">
      <h1>Beautiful Rugs</h1>
     </div>

</div>

<div class="container-fluid">
  
  <div class="History" style="margin-top: 1.5%">
    <h2>History of Carpets</h2>
    <p>Carpets and floorings are an integral part of Indian homes and the history of Indian carpets features its development using mats and durries with a variety of material, ranging from wool, cotton, jute, coir, bamboo and grass. History of Indian carpets, especially those of the woolen carpets traces to a period as early as 500 B.C. References to the earliest woven mats and floor coverings can be found in ancient and medieval Indian literature.</p>
    <p>The history of Indian carpets entails that when Babur came to India, however, most famous type of Indian carpets was the pile carpet, which came to India in the reign of Akbar in 16th century. Since the beginning, wool or silks have been the essential material of the knotted carpets. The wool may have a diversity of origins according to the type of carpet being made. The patterns of Indian carpets varied from vines and floral patterns, animal and bird figures and geometric and calligraphic patterns. Rugs from Akbar`s reign (1556-1605) used cotton warp and wool pile and a variety of color scheme had multiple shades of blues, greens, and other colors on a red and peach base.</p>
    <p>The history of Indian Carpets show technically refined taste in both design and construction. The carpets had scrolling vines, flowering plants, and more naturalistic animals in pictorial or overall pattern.</p>
  </div>

  <h2 style="margin-top: 1.5%">Handloom Weaves</h2>
  
  <% if @handloomweave.present? %>
  <div class="row">  
  <% @handloomweave.each do |carpet| %>
    <%= render :partial => 'carpet', locals: { carpet: carpet } %>
  <% end %>
  </div>
  <% end %>

  <div class="row" style="margin-top: 1.5%">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
      <div id="button">
        <a href="/handloomweave" class="btn btn-default">See More</a>
      </div>
    </div> 
  </div>
  
  <h2>Hand Knotted</h2>
  
  <% if @handknotted.present? %>
  <div class="row">  
   <% @handknotted.each do |carpet| %>
     <%= render :partial => 'carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

  <div class="row" style="margin-top: 1.5%">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
      <div id="button">
        <a href="/handknotted" class="btn btn-default">See More</a>
      </div>
    </div> 
  </div>


  <h2>Hand Tufted</h2>
  
  <% if @handtufted.present? %>  
  <div class="row">  
   <% @handtufted.each do |carpet| %>
     <%= render :partial => 'carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

  <div class="row" style="margin-top: 1.5%">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
      <div id="button">
        <a href="/handtufted" class="btn btn-default">See More</a>
      </div>
    </div> 
  </div>

 <h2>Handloom Durries</h2>
  
  <% if @handloomdurries.present? %>
  <div class="row">  
   <% @handloomdurries.each do |carpet| %>
     <%= render :partial => 'carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

  <div class="row" style="margin-top: 1.5%">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
      <div id="button">
        <a href="/handloomdurries" class="btn btn-default">See More</a>
      </div>
    </div> 
  </div>

</div>

<%= render :partial => 'shared/footer' %>	

</body>
