
<head>

<title>Der Teppich International</title>

</head>

<body>

<%= render 'shared/navbar' %>

<div class="PhotoArea">
     
     <figure class="DerImage">
     </figure>

     <div class="DerCaption">
      <h1>beautiful carpets.</h1>
     </div>

</div>

<div class="container-fluid">
  
  <h2>handloom weaves</h2>
  
  <% if @handloomweaves.present? %>
  <div class="row" style="margin-top: 3%">  
  <% @handloomweaves.each do |carpet| %>
    <%= render :partial => 'carpet', locals: { carpet: carpet } %>
  <% end %>
  </div>
  <% end %>

  <div class="row" style="margin-top: 3%">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
      <div class="btn btn-default" id="button">
        <a href="/handloomweave">see more</a>
      </div>
    </div> 
  </div>
  
  <h2>hand knotted</h2>
  
  <% if @handknotted.present? %>
  <div class="row" style="margin-top: 3%">  
   <% @handknotted.each do |carpet| %>
     <%= render :partial => 'carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

  <div class="row" style="margin-top: 3%">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
      <div class="btn btn-default" id="button">
        <a href="/handknotted">see more</a>
      </div>
    </div> 
  </div>


  <h2>hand tufted</h2>
  
  <% if @handtufted.present? %>  
  <div class="row" style="margin-top: 3%">  
   <% @handtufted.each do |carpet| %>
     <%= render :partial => 'carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

  <div class="row" style="margin-top: 3%">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
      <div class="btn btn-default" id="button">
        <a href="/handtufted">see more</a>
      </div>
    </div> 
  </div>

 <h2>handloom durries</h2>
  
  <% if @handloomdurries.present? %>
  <div class="row" style="margin-top: 3%">  
   <% @handloomdurries.each do |carpet| %>
     <%= render :partial => 'carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

  <div class="row" style="margin-top: 3%">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
      <div class="btn btn-default" id="button">
        <a href="/handloomdurries">see more</a>
      </div>
    </div> 
  </div>

</div>

	
</body>