
<head>

<title>Der Teppich International</title>

</head>

<body>

<nav class="navbar navbar-default NavbarTransparent">
  <div class="container-fluid">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand Brand" href="#">
         Der Teppich International
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav LinkCollection">
        <li><a href="#">home</a></li>
        <li><a href="#">mission</a></li>
        <li><a href="#">team</a></li>
        <li><a href="#">contact</a></li>
      </ul>

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="search">
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="PhotoArea">
     
     <figure class="DerImage">
     </figure>

     <div class="DerCaption">
      <h1>beautiful carpets.</h1>
     </div>

</div>

<div class="container-fluid">
  
  <h2>handloom weaves</h2>
  
  <div class="row" style="margin-top: 3%; margin-bottom: 3%">
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox"> 
        <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox">  
         <h3>description of the carpet</h3> 
    </div> 
    <div class="CarpetCategory">
         <p>category</p> 
    </div> 
  </div> 
  </div>
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox"> 
         <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox">  
          <h3>description of the carpet</h3>  
    </div>
    <div class="CarpetCategory">
          <p>category</p> 
    </div>   
  </div> 
  </div>
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox"> 
         <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox">  
         <h3>description of the carpet</h3> 
    </div>
         
    <div class="CarpetCategory">
         <p>category</p>  
    </div>   
  </div> 
  </div>
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox"> 
      <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox"> 
          <h3>description of the carpet</h3> 
    </div> 

    <div class="CarpetCategory">
           <p>category</p>  
    </div> 

  </div> 
  </div>
  </div>

  <h2>hand tufted</h2>

   <div class="row" style="margin-top: 3%; margin-bottom: 3%">
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox">
      <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox">  
         <h3>description of the carpet</h3> 
    </div> 
      <div class="CarpetCategory">
           <p>category</p>  
    </div>  
   </div> 
  </div>
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox">
       <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox">
         <h3>description of the carpet</h3> 
    </div>
       <div class="CarpetCategory">
           <p>category</p>  
    </div>   
  </div> 
  </div>
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox">
       <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox"> 
         <h3>description of the carpet</h3>  
    </div> 
        <div class="CarpetCategory">
           <p>category</p>  
    </div> 
  </div> 
  </div>
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox">
        <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox"> 
         <h3>description of the carpet</h3> 
    </div>
     <div class="CarpetCategory">
          <p>category</p>  
    </div>   
  </div> 
  </div>
  </div>

</div>

	
</body>