<div class="col-md-3" style="margin-top: 1%; text-align: center">
<div class="CarpetBox1">
    <div class="CarpetImageBox">
       <%= image_tag(carpet.photo_url, :class => "fitimg") %> 
    </div>
    <div class="CarpetNameBox" style="text-align: center">
         <h3><%= carpet.name %></h3> 
    </div>
    <div id="AdminButton2" class="btn btn-default">
     <%= link_to edit_carpet_path(carpet) do %> 
      edit
     <% end %> 
    </div>
    <div id="AdminButton2" class="btn btn-default">
     <%= link_to carpet_path(carpet), :method => "delete", data: {confirm: "Are you sure?"} do %>
      delete
     <% end %> 
    </div>
    <div id="AdminButton2" class="btn btn-default">
     <%= link_to carpet_editpriority_path(carpet) do %> 
      edit priority
     <% end %> 
     </div>
    <div id="AdminButton2" class="btn btn-default">
      <%= link_to carpet_editcategory_path(carpet) do %> 
       edit category
      <% end %> 
    </div>
  </div> 
</div>