
<head>

<title>Der Teppich International: New Carpet</title>

<script type="text/javascript">
    
    $(document).ready(function(){
 
     $("#photobtn").click(function(){
  
     $("#photofield").click(); 

   });

   });

  </script>

  <script type="text/javascript">
    
    $(document).ready(function(){
    var box = $("#avatarbox");
    var preview = $("#avatarbox img");

    $("#photofield").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
       box.show();
    });   
  });

 </script>


</head>

<body>


<%= render 'shared/navbar' %>

<div class="container-fluid">
   
   <div class="row">
     
     <div class="col-sm-6 col-sm-offset-3" style="margin-top: 3%; text-align: center">

        <div id="avatarbox">
          <img class="fitpreview" />
        </div>
       
       <%= form_for(@carpet, url: carpet_path(@carpet)) do |f| %>
          
          <%= f.text_field :name, :placeholder => "enter carpet's name", :id => "DerInput", :class => "form-control" %>
          <%= f.text_area :description, :placeholder => "enter carpet's description", :id => "DerInput", :class => "form-control" %>

          <%= f.select(:category, options_for_select([['category', nil], ['hand tufted', 'hand tufted'], ['handloom weave', 'handloom weave'], ['handloom durries', 'handloom durries']]), {}, {id: "DerInput"}) %>

          <%= f.file_field :photo, :id => "photofield", :style => "display: none;" %>

         <div id="photobtn" style="text-align: center">
            <a href="#" id="choosephoto" style="margin-top: 3%" class="btn btn-default">add cover</a>   
          </div>

          <%= f.submit "update", :id => "AdminButton1", :class => "btn btn-default", :style => "margin-top: 3%" %>

       <% end %>

     </div>

   </div>

</div>
	
</body>