
<head>

<title>Der Teppich International</title>

</head>

<body>


<%= render 'shared/navbar' %>

<div class="PhotoArea">
     
     <figure class="DerImage">
     </figure>

     <div class="DerCaption">
      <h1>hand tufted</h1>
     </div>

</div>

<div class="container-fluid">
  
  <h2>hand tufted</h2>
  
  <div class="row" style="margin-top: 3%; margin-bottom: 3%">
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox"> 
        <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox">  
         <h3>description of the carpet</h3> 
    </div> 
  </div> 
  </div>
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox"> 
         <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox">  
          <h3>description of the carpet</h3>  
    </div> 
  </div> 
  </div>
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox"> 
         <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox">  
         <h3>description of the carpet</h3> 
    </div>

  </div> 
  </div>
  <div class="col-sm-3">
  <div class="CarpetBox">
    <div class="CarpetImageBox"> 
      <%= image_tag("carpetdisplay.jpg", :class => "fitimg") %> 
    </div>
    <div class="CarpetDescriptionBox"> 
          <h3>description of the carpet</h3> 
    </div> 

  </div> 
  </div>
  </div>

</div>
	
</body>