
<head>

<title>Der Teppich International: Carpets</title>

</head>

<body>


<%= render 'shared/navbar' %>

<div class="container-fluid">

  <h2 style="margin-top: 1.5%">Handloom Weaves</h2>
  
  <% if @handloomweave.present? %>
  <div class="row">  
  <% @handloomweave.each do |carpet| %>
    <%= render :partial => 'carpet', locals: { carpet: carpet } %>
  <% end %>
  </div>
  <% end %>
  
  <h2>Hand Knotted</h2>
  
  <% if @handknotted.present? %>
  <div class="row">  
   <% @handknotted.each do |carpet| %>
     <%= render :partial => 'carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

 <h2>Hand Tufted</h2>
  
  <% if @handtufted.present? %>  
  <div class="row">  
   <% @handtufted.each do |carpet| %>
     <%= render :partial => 'carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

 <h2>Handloom Durries</h2>
  
  <% if @handloomdurries.present? %>
  <div class="row">  
   <% @handloomdurries.each do |carpet| %>
     <%= render :partial => 'carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

</div>
	
</body>