
<head>

<title>Der Teppich International: <%= @carpet.name %></title>

</head>

<body>


<%= render 'shared/navbar' %>

<div class="container-fluid">

 <div style="display: none">
   <div id="Enlarged" class="EnlargedImageBox">
     <%= image_tag @carpet.photo_url, :class => "fitimg" %>
   </div>
 </div>

<div class="row" style="margin-top: 3%">
<div class="col-sm-6">
 <div class="BigImageBox"> 
  <%= link_to "#Enlarged", class: "fancybox" do %> 
   <%= image_tag @carpet.photo_url, :class => "fitimg" %>
  <% end %> 
  </div> 
</div> 
<div class="col-sm-6">
    <h2><%= @carpet.name %></h2>
    <div class="CarpetDesc">
    <p><%= simple_format @carpet.description %></p>
    </div>
</div>
</div>

</div>

<%= render :partial => 'shared/footer' %>	
	
</body>